body {
    font-family: Arial, sans-serif;
    background-color: beige;
    color: #333;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #5a5a5a;
}

section {
    margin: 20px;
}
